<form [formGroup]="screeningForm">
  <table>
    <tr>
      <th>{{'createScreening.selectDate' | translate}}</th>
      <th>{{'createScreening.selectHour' | translate}}</th>
      <th>{{'createScreening.selectRoom' | translate}}</th>
      <th>{{'createScreening.selectMovie' | translate}}</th>
    </tr>

    <tr>
      <td>
        <div class="datePickerDiv">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <input [min]="minDate" matInput [matDatepicker]="picker" formControlName="screening_dt">
        </div>
      </td>
      <td>
        <mat-select class="languageSelect" formControlName="screening_time">
          <mat-option *ngFor="let t of timeList" [value]="t">{{t}}</mat-option>
        </mat-select>
      </td>
      <td>
        <mat-select class="languageSelect" formControlName="auditorium">
          <mat-option *ngFor="let aud of auditoriumList" [value]="aud">{{aud.code}}</mat-option>
        </mat-select>
      </td>
      <td>
        <mat-select class="languageSelect" formControlName="movie">
          <mat-option *ngFor="let mov of movieList" [value]="mov">{{mov.name}}</mat-option>
        </mat-select>
      </td>
    </tr>

  </table>
  <div class="buttonRow">

    <button (click)="cancel()" class="previousButton">{{'button.cancel' | translate}}</button>

    <button (click)="addScreening()" class="continueButton">{{'button.save' | translate}}</button>

  </div>

</form>
