.headerRow {
  width: 98%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  // box-shadow: 3px 1px 3px var(--shadow-grey-color);
  backdrop-filter: invert(20%);
  padding: 1%;
  .logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
    p {
      color: var(--white-app-color);
      font-weight: bold;
      font-size: 20px;
    }
  }

  .optionsContent {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    div {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
      }
      p {
        color: var(--white-app-color);
        font-weight: bold;
        font-size: 20px;
      }
    }
  }


  .headerDiv {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;

    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    p {
      color: var(--white-app-color);
      font-weight: bold;
      font-size: 15px;
    }
  }
  .languageSelect{
    width: 80px;
    height: 20px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid var(--grey-text-color);
    padding: 2px;
    color: var(--grey-text-color);
    outline: none;
    background:  var(--light-background-color);
    margin-right: 2%;

    mat-option {
      text-align: center;
      font-size: 12px;
    }
  }

}
