<div class="mainComponent">
  <div class="adminContainer">
    <div class="optionsContent">
      <div class="cursor" *ngFor="let option of adminOption" (click)="changeView(option.id)">
        <img class="blueIcon" [src]="option.img" />
        <p>{{option.descr | translate}}</p>
      </div>
    </div>

    <div class="adminComponents" style="width: 100%;">
      <app-movies *ngIf="selectedAdminOption === 'movies'"></app-movies>
      <app-users *ngIf="selectedAdminOption === 'users'"></app-users>
      <app-admin-screening *ngIf="selectedAdminOption === 'screening'"></app-admin-screening>
      <app-contacts *ngIf="selectedAdminOption === 'contact'"></app-contacts>
    </div>
  </div>
</div>
