<div class="rooms" *ngIf="screening && seats.length > 0">
  <div class="confirmTitle">{{'screening.reservation' | translate}} <span>StarLightCinemas&#64; {{screening.auditoriumInfo.code}}</span> {{'screening.movie' | translate}} <span>{{screening.movie.name}}</span></div>
  <div class="confirmTitle">{{'screening.date' | translate}} <span>{{helper.formatDate(screening.screening.screening_dt)}} {{helper.formatTime(screening.screening.screening_dt)}}</span></div>
  <div class="confirmTitle">{{'screening.seats' | translate}} <span *ngFor="let seat of seats">{{seat.row}} {{seat.seat + 1}} <span *ngIf="seat !== seats[seats.length - 1]">, </span> </span></div>
</div>
