<div class="userInfo">
  <form [formGroup]="userInfo" (submit)="updateUserInfo()">
    <div class="row">

      <div class="col">
        <div class="userLabel">{{'userProfile.name' | translate}}</div>
        <input class="userInfoInput" formControlName="name" placeholder="{{'userProfile.name' | translate}}"/>
      </div>

      <div class="col">
        <div class="userLabel">{{'userProfile.surname' | translate}}</div>
        <input class="userInfoInput" formControlName="lastname" placeholder="{{'userProfile.surname' | translate}}"/>
      </div>

    </div>

    <div class="row">

      <div class="col">
        <div class="userLabel">Email</div>
        <input class="userInfoInput" formControlName="email" placeholder="Email"/>
      </div>

      <div class="col">
        <div class="userLabel">{{'userProfile.phoneNumber' | translate}}</div>
        <input class="userInfoInput" formControlName="phone" placeholder="{{'userProfile.phoneNumber' | translate}}"/>
      </div>

    </div>

    <div class="buttonRow">
      <button type="submit">{{'button.save' | translate}}</button>
    </div>
  </form>
</div>
