<div class="backdrop">
</div>

<div class="modal">
  <div class="modal-wrapper">
    <div class="modal-content">
      <div class="modalTitle">
        <p *ngIf="movie && movie.title">{{movie.title}}</p>
        <div class="modalClose" (click)="closeModal('cancel')">
          <img src="assets/imgs/general/close.svg"/>
        </div>
      </div>

      <div class="modalInfo">
        <div class="movieImg" [style]="returnCSS(movie.img)"></div>
        <div class="movieInfo">
          <p>{{movie.descr}}</p>
          <p>{{movie.duration}}</p>
          <div class="ratings">
            <img *ngFor="let e of [].constructor(movie.rating); let i = index" src="assets/imgs/general/star.svg">
            <img *ngFor="let e of [].constructor((5-movie.rating)); let i = index" src="assets/imgs/general/star-outline.svg">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
