<div class="backdrop">
</div>

<div class="modal">
  <div class="modal-wrapper">
    <div class="modal-content">
      <div class="modalTitle">
        <p *ngIf="movie && movie.name">{{movie.name}}</p>
        <div class="modalClose" (click)="closeModal('cancel')">
          <img src="assets/imgs/general/close.svg"/>
        </div>
      </div>

      <div class="modalInfo">
        <div class="movieImg" [style]="returnCSS(movie.photoURL)"></div>
        <div class="movieInfo">

          <div>
            <p>{{movie.description}}</p>
          </div>


          <div class="durationCategoryRatingsDiv">
            <div class="duration">
              <img class="greyIcon" src="assets/imgs/general/time.svg"/>
              <p>{{movie.duration}}</p>
            </div>

            <div class="duration">
              <p>{{movie.category}}</p>
            </div>

            <div *ngIf="screenWidth > 700" class="ratings">
              <img *ngFor="let e of [].constructor(movie.rating); let i = index" src="assets/imgs/general/star.svg">
              <img *ngFor="let e of [].constructor((5-movie.rating)); let i = index" src="assets/imgs/general/star-outline.svg">
            </div>
            <div *ngIf="screenWidth <= 700" class="ratings">
              <div>{{movie.rating}}</div>
              <img src="assets/imgs/general/star.svg">
            </div>
          </div>



          <div class="additionalInfo">
            <table>
              <!--Additional info Row-->
              <tr>
                <th colspan="2">{{'movieInfo.additionalInfo' | translate}}</th>
              </tr>

              <!--Directors Row-->
              <tr>
                <td>{{'movieInfo.directors' | translate}}</td>
                <td>{{movie.directors}}</td>
              </tr>
              <!--Scenario Row-->
              <tr>
                <td>{{'movieInfo.scenario' | translate}}</td>
                <td>{{movie.writers}}</td>
              </tr>
              <!--Actors Row-->
              <tr>
                <td>{{'movieInfo.actors' | translate}}</td>
                <td>{{movie.actors}}</td>
              </tr>

              <tr>
                <td colspan="2">
                  <button class="reservationButton" (click)="closeModal('reserve')">{{'movieInfo.reserve' | translate}}</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
