.contactForm {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  form {
    margin-top: 10px;
    width: 100%;
    background: var(--light-background-color);
    border-radius: 10px;
    padding: 10px;
  }

  .formLabel {
    color: var(--black-text-color);
    font-size: 15px;
    margin-bottom: 5px;
  }


  .formInput {
    margin-bottom: 5px;
    background: var(--white-app-color);
    width: 100%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--blue-app-color);
    border-radius: 10px;
    padding: 10px 0;
    img {
      width: 30px;
      height: 30px;
      margin: 0 10px;
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      margin-right: auto;
      font-size: 20px;
      letter-spacing: .2em;
      color: var(--blue-app-color);
      caret-color: var(--blue-app-color);
    }
  }

  .buttonRow {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    p {
      margin-right: auto;
      cursor: pointer;
      color: var(--blue-app-color);
      font-size: 18px;
    }
    button {
      background: var(--blue-app-color);
      border-radius: 10px;
      border: none;
      color: var(--white-app-color);
      font-weight: bold;
      padding: 10px;
    }
  }

}

.invalidInput {
  border-color: var(--red-color) !important;
  color: var(--red-color) !important;
  input {
    color: var(--red-color) !important;
    caret-color: var(--red-color);
  }

  img {
    filter: invert(14%) sepia(82%) saturate(7387%) hue-rotate(5deg) brightness(97%) contrast(117%);
  }
}

