<div class="mainPage">
  <div class="siderbarDiv">
    <app-sidebar (sidebarValue)="changeView($event)"></app-sidebar>
  </div>

  <div class="componentDiv">

    <!-- Header -->
    <app-header></app-header>
    <!-- Header -->

    <app-home *ngIf="selectedComponent==='home'"></app-home>
    <app-playing-now *ngIf="selectedComponent==='playingNow'"></app-playing-now>
    <app-coming-soon *ngIf="selectedComponent==='comingsoon'"></app-coming-soon>
    <app-contact *ngIf="selectedComponent==='contact'"></app-contact>
  </div>
</div>

