.adminComponent {
    width: 100%;
    margin-top: 15px;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    .adminTitle {
      color: var(--blue-app-color);
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .List {
      width: 98%;
      margin: auto;

      .redBorder {
        border-color: var(--smooth-red-color) !important;

        .movieInfo {
          .title {
            color: var(--smooth-red-color) !important;
          }

          .descr {
            color: var(--smooth-red-color) !important;
          }
        }
      }
      .contact {
        margin-top: 15px;
        padding: 10px;

        border-radius: 0 10px 10px 0;
        border: 2px solid var(--blue-app-color);
        border-left-width: 5px;
        display: flex;
        align-items: flex-start;
        .imgDiv {
          width: 100px;
          height: 100px;

          img {
            width: 100px;
            height: 100px;
          }
        }

        .Info {
          width: calc(100% - 100px);
          padding-left: 10px;

          .title {
            font-weight: bold;
            font-size: 20px;
            color: var(--blue-app-color);
          }

          .descr {
            margin-top: 15px;
            font-size: 18px;
            color: var(--blue-app-color);
          }
        }
      }
    }

    .titleRow {
      width: 100%;
      display: flex;

      .delete {
        margin-left: auto;
        background: var(--light-red-color);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        img {
          width: 30px;
          height: 30px;
        }

      }
    }
  }
