.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--light-background-color);
  box-shadow: 1px 1px 3px var(--shadow-grey-color);
  border-right: 3px solid var(--blue-app-color);


  .logoRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;

    img {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
    p {
      color: var(--black-text-color);
      font-size: 25px;
      font-weight: bold;
      //letter-spacing: .5cm;
      width: fit-content;
      text-align: center;
    }
  }

  .optionRow:hover {
    background-color: var(--bright-blue-color);
  }
  .optionRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    .optionImg{
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 10px;
      img {
        width: 40px;
        height: 40px;
      }
    }

    .optionDescr {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      p {
        color: var(--black-text-color);
        font-size: 20px;
        font-weight: bold;
        //letter-spacing: .5cm;
        width: fit-content;
        text-align: center;
      }
    }

  }
}
