<div class="sidebar">
  <div class="logoRow cursor" (click)="changeView('home')">
    <img src="assets/imgs/logo.png"/>
    <p>{{'pageTitle.title' | translate}}</p>
  </div>

  <div class="optionRow cursor" (click)="changeView('home')">
    <div class="optionImg">
      <img src="assets/imgs/home1.png"/>
    </div>
    <div class="optionDescr">
      <p>{{'sidebar.homepage' | translate}}</p>
    </div>
  </div>

  <div class="optionRow cursor" (click)="changeView('playingNow')">
    <div class="optionImg">
      <img src="assets/imgs/movieLogo1.png"/>
    </div>
    <div class="optionDescr">
      <p>{{'sidebar.playingNow' | translate}}</p>
    </div>
  </div>

  <div class="optionRow cursor" (click)="changeView('comingsoon')">
    <div class="optionImg">
      <img src="assets/imgs/movieLogo1.png"/>
    </div>
    <div class="optionDescr">
      <p>{{'sidebar.comingSoon' | translate}}</p>
    </div>
  </div>

  <div class="optionRow cursor" (click)="changeView('contact')">
    <div class="optionImg">
      <img src="assets/imgs/contact.png"/>
    </div>
    <div class="optionDescr">
      <p>{{'sidebar.contact' | translate}}</p>
    </div>
  </div>


</div>
