<app-login *ngIf="showLoginValue" (showLoginEmitter)="showLoginFunction('login',$event)"></app-login>
<app-movie-info *ngIf="showHideMovieInfoValue" (showMovieInfo)="showHideMovieInfo(false)" [movie]="movieInfo" ></app-movie-info>

<div class="mainPage">
  <div class="header">
  <!-- Header -->
  <app-header (showLoginEmitter)="showLoginFunction('header',$event)" (sidebarValue)="changeView($event)"></app-header>
  <!-- Header -->
  </div>

  <div class="componentDiv">


    <div class="viewComponent">
      <app-home *ngIf="selectedComponent==='home'" (movieInfoEmitter)="openInfoModal($event)"></app-home>
      <app-contact *ngIf="selectedComponent==='contact'"></app-contact>
    </div>

    <!--

    <app-playing-now *ngIf="selectedComponent==='playingNow'"></app-playing-now>
    <app-coming-soon *ngIf="selectedComponent==='comingsoon'"></app-coming-soon>
    <app-contact *ngIf="selectedComponent==='contact'"></app-contact>-->
  </div>
</div>



