<app-login *ngIf="helper.showLoginValue" (showLoginEmitter)="showLoginFunction('login',$event)"></app-login>
<app-movie-info *ngIf="showHideMovieInfoValue" (showMovieInfo)="showHideMovieInfo($event)" [movie]="movieInfo" ></app-movie-info>
<app-screening *ngIf="showHideReservationValue" (reservationEmitter)="showHideReservation(false)" [reservation]="reservationInfo" ></app-screening>
<app-contact *ngIf="showContact" (showContactEmitter)="showContactFunction()"></app-contact>

<div class="mainPage">
  <div class="header">
  <!-- Header -->
  <app-header (showLoginEmitter)="showLoginFunction('header',$event)" (sidebarValue)="changeView($event)"></app-header>
  <!-- Header -->
  </div>

  <div class="componentDiv">


    <div class="viewComponent">
      <app-home *ngIf="selectedComponent==='home'" (movieInfoEmitter)="openInfoModal($event)"></app-home>
      <app-admin-home *ngIf="selectedComponent==='admin'"></app-admin-home>
      <app-user-settings *ngIf="selectedComponent==='user-settings'"></app-user-settings>
    </div>

    <!--

    <app-playing-now *ngIf="selectedComponent==='playingNow'"></app-playing-now>
    <app-coming-soon *ngIf="selectedComponent==='comingsoon'"></app-coming-soon>
    <app-contact *ngIf="selectedComponent==='contact'"></app-contact>-->
  </div>
</div>



